*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    height: 100%;
    width: 100%;
    background-color: #ededed;
}
#left-top-left{
    padding:40px;
    
}
#square{
    height: 20px;
    width: 20px;
    background-color: #333;
    rotate: 45deg;
    
}
#left-top-right{
    padding: 40px;
    justify-self: right;
    text-align: right;
}
#left-top-right h4{
    margin-bottom: 50px;
    font-size: 1rem;
    font-weight: 500;
}
#left-top-right h5{
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
    line-height: 1.2rem;
}
#left-top-right h6{
    display: none;
}
#left-center{
    grid-column: 1 / 3;
    padding: 20px 40px;
}
#left-center h1{
    
    font-size: 7vw;
    text-transform : uppercase;
    line-height: 6vw;
    font-weight: 500;
    color:#333
   
}
#left-center h1:nth-child(2n){
   text-align: center;
}
#left-bottom{
    grid-column: 1 / 3;
    padding: 20px 40px;
}
#left-bottom p{
    width: 70%;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #333;
    font-weight: 500;
}
#right{
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: 50% 20%;
}
#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: orangered;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#arrow i{
    font-size: 2rem;
}
#arrow:hover{
    background-color: #ff5722;
    cursor: pointer;
}

/* Responsive Layout CSS */

@media screen and (max-width: 600px) {
    main{
  
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%;
}
#left-top-left{
    padding:20px;
    
}
#square{
    height: 20px;
    width: 20px;
    rotate: 45deg;
    
}
#left-top-right{
    padding: 20px;
    justify-self: right;
    text-align: right;
}
#left-top-right h4{
    display: none;
}
#left-top-right h5{
    display:none
}
#left-top-right h6{
    display: initial;
    font-size: 1.4rem;
    color: #333;
}
#left-center{
    padding: 10px 20px;
}
#left-center h1{
    
    font-size: 17vw;
    line-height: 15vw;
   
}
#left-center h1:nth-child(2n){
   text-align: right;
}
#left-bottom{
    padding: 20px;
    
   
}
#left-bottom p{
    width: 90%;
    font-size: 0.6rem;
    line-height: 0.7rem;
}
#arrow{
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding: 10px;
}
#arrow i{
    font-size: 1rem;
}
#right{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
    padding: 20px;
    padding-right: 150px;
}
#right video{
    width: 50vh;
    height: 70vh;
}
}   